src/main/content/jcr_root/apps/aem-vite-demo/clientlibs/clientlib-site
src/main/content/jcr_root/apps/aem-vite-demo/clientlibs/clientlib-dependencies
src/main/content/jcr_root/apps/aem-vite-demo/clientlibs/clientlib-esmodule
src/main/content/jcr_root/apps/aem-vite-demo/clientlibs/clientlib-esmodule-another
